@model List<TechTalkDTO>
@{
    ViewData["Title"] = "Service Search Result";
}
<h4 style="color:orange">@ViewData["Title"]</h4>
<div>
    <table class="table table-dark table-striped table-hover">
  <thead>
    <tr>
      <th scope="col">Id</th>
      <th scope="col">Description</th>
      <th scope="col">Category</th>
    </tr>
  </thead>
  <tbody>
      @foreach(TechTalkDTO item in Model)
      {
        <tr>
          <th scope="row">@Html.DisplayFor(model => item.Id)</th>
          <td>@Html.DisplayFor(model => item.TechTalkName)</td>
          <td>@Html.DisplayFor(model => item.CategoryId)</td>
        </tr>        
      }
  </tbody>
</table>
</div>
<hr class="divider">
