@{
    ViewData["Title"] = "Service Search Result";
}
<h4 style="color:orange">@ViewData["Title"]</h4>
<div class="alert alert-warning">
    <span class="badge">@Model.Key</span>
    <b>@Model.Value</b>
</div>
<hr class="divider">
